---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Blocks from "@components/Blocks";
import slugify from "@utils/slugify";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "src/types";
export interface Props {
  docs: MarkdownInstance<Frontmatter>[];
}

const { docs } = Astro.props;
---

<Layout title={`Docs | ${SITE.title}`}>
  <Header activeNav="docs" />
  <Main pageTitle="Docs" pageDesc="Attemping documenting everything.">
    <ul class="flex gap-4 max-w-5xl mx-auto text-center mt-12">
      {
        docs.map(({ frontmatter }) => {
          return (
            <Blocks href={`/docs/${slugify(frontmatter)}`} post={frontmatter} />
          );
        })
      }
    </ul>
  </Main>
  <Footer />
</Layout>
