---
export interface Props {
  pageTitle: string;
  pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
---

<submain id="main-content">
  <h1>{pageTitle}</h1>
  <p>{pageDesc}</p>
  <slot />
</submain>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  #main-content h1 {
    @apply pb-2 text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mt-2 mb-6 italic;
  }
</style>
